<div class="container">
    <div class="page error" id="generic_error">
        <div class="page__content">
            <div class="page__body">
                <span class="page__icon"><i class="icon-less"></i></span>
                <h2>Error</h2>
                <div class="scroll_text text-center mb-20">
                    <p>{{detalle? detalle : detalleDefault}}</p>
                </div>
            </div>
            <!-- <div class="page__action">
                <div class="clearfix mb-20"></div>
                <a [routerLink]="'/oferta'" href="#" title="Volver al Home" class="btn btn--small btn--plane">Volver al Home</a>
            </div> -->
        </div>
    </div>
</div>