<div class="iframe divScroll">   
    <div class="container">
        <div class="main">
            <h1 class="title">MANDATO Y CONDICIONES CONTRATADAS PARA<br>CRÉDITO DE CONSUMO RENEGOCIADO BANCO SANTANDER</h1>
            <div class="mandate">
                <div class="mandate-header">
                    <h2 class="mandate-title">A) Deudas a Refinanciar</h2>
                </div>
                <table class="mandate-table table-colums">
                    <thead>
                        <tr>
                            <th>Productos a refinanciar</th>
                            <th class="text-right">Deuda al día de hoy </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Productos a refinanciar 1</td>
                            <td class="text-right">$ 1.025.300</td>
                        </tr>
                        <tr>
                            <td>Productos a refinanciar 2</td>
                            <td class="text-right">$ 1.125.300</td>
                        </tr>
                        <tr>
                            <td>Productos a refinanciar 3</td>
                            <td class="text-right">$ 1.225.300</td>
                        </tr>
                        <tr>
                            <td>Productos a refinanciar 4</td>
                            <td class="text-right">$ 1.040.300</td>
                        </tr>
                        <tr>
                            <td>Productos a refinanciar 5</td>
                            <td class="text-right">$ 1.456.300</td>
                        </tr>
                        <tr>
                            <td>Productos a refinanciar 6</td>
                            <td class="text-right">$ 1.134.300</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>	Monto total a refinanciar ($):</strong></td>
                            <td class="text-right"><strong>	$7.354.314</strong></td>
                        </tr>
                    </tfoot>
                </table>

                <div class="mandate-header">
                    <h2 class="mandate-title">B) Productos a modificar </h2>
                </div>
                <table class="mandate-table table-rows">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Productos</th>
                            <th class="text-right">Cupos al día de hoy</th>
                            <th class="text-right">Cupos Futuros o cierres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Producto 1</td>
                            <td class="text-right">$1.100.000</td>
                            <td class="text-right">$1.200.000</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Producto 2</td>
                            <td class="text-right">$1.300.000</td>
                            <td class="text-right">$1.400.000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Producto 3</td>
                            <td class="text-right">$1.500.000</td>
                            <td class="text-right">$1.600.000</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Producto 4</td>
                            <td class="text-right">$1.700.000</td>
                            <td class="text-right">$1.800.000</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Producto 5</td>
                            <td class="text-right">$1.900.000</td>
                            <td class="text-right">$1.100.000</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Producto 6</td>
                            <td class="text-right">$1.110.000</td>
                            <td class="text-right">$1.120.000</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mandate-header">
                    <h2 class="mandate-title">C) Cuadro de condiciones del Crédito de Refinanciamiento</h2>
                </div>
                <table class="mandate-table table-rows">
                    <tbody>
                        <tr>
                            <td>Monto Líquido del Crédito (pesos)</td>
                            <td class="text-right">$1.453.546</td>
                        </tr>
                        <tr>
                            <td>Monto Bruto del Crédito (pesos)</td>
                            <td class="text-right">$2.453.546</td>
                        </tr>
                        <tr>
                            <td>Plazo del Crédito (meses)</td>
                            <td class="text-right">36</td>
                        </tr>
                        <tr>
                            <td>Tasa de Interés Mensual</td>
                            <td class="text-right">2.4%</td>
                        </tr>
                        <tr>
                            <td>Tasa de Interés Anual</td>
                            <td class="text-right">27.%</td>
                        </tr>
                        <tr>
                            <td>Costo Total del Crédito (pesos)</td>
                            <td class="text-right">$2.453.546</td>
                        </tr>
                        <tr>
                            <td>Fecha Vencimiento Primera Cuota</td>
                            <td class="text-right">5/08</td>
                        </tr>
                        <tr>
                            <td>Día de Vencimiento de las Cuotas</td>
                            <td class="text-right">5</td>
                        </tr>
                        <tr>
                            <td>Valor de la Cuota (pesos)</td>
                            <td class="text-right">$ 190.046</td>
                        </tr>
                        <tr>
                            <td>Valor de la Cuota Final (pesos)</td>
                            <td class="text-right">$ 195.046</td>
                        </tr>
                        <tr>
                            <td>Carga Anual Equivalente (*)(porcentaje)</td>
                            <td class="text-right">30.1%</td>
                        </tr>
                        <tr>
                            <td>Costo Prepago (pesos)</td>
                            <td class="text-right">$2.453.546</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mandate-header">
                    <h2 class="mandate-title">I. Gastos o Cargos Propios del Crédito</h2>
                </div>
                <table class="mandate-table table-rows">
                    <thead>
                        <tr>
                            <th>Gastos o Cargos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Impuesto (pesos)</td>
                            <td class="text-right">$10.465</td>
                        </tr>
                        <tr>
                            <td>Notaría (pesos)</td>
                            <td class="text-right">$45.678</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mandate-header">
                    <h2 class="mandate-title">II. Gastos o Cargos por Productos o Servicios Voluntariamente Contratados</h2>
                </div>
                <table class="mandate-table table-rows">
                    <tbody>
                        <tr>
                            <td>Seguro Desgravamen</td>
                            <td class="text-right">$1.456</td>
                        </tr>
                        <tr>
                            <td>Seguro Cesantía</td>
                            <td class="text-right">$1.467</td>
                        </tr>
                    </tbody>
                </table>
                <table class="mandate-table table-rows table-highlight">
                    <tbody>
                        <tr>
                            <td>III. Costo total del crédito</td>
                            <td class="text-right">$5.467.453</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="legal">
                <h2 class="title">MANDATO PAGO, REBAJA Y CIERRE DE PRODUCTOS</h2>
                <p>Declaro que aceptó las condiciones del crédito previamente señaladas y confiero mandato mercantil</p>
                <p>y gratuito al Banco Santander-Chile, para que destine el producto del crédito otorgado al pago de la(s) suma(s) adeudada(s) y detalladas en el cuadro A precedente, e instruyo expresamente al Banco Santander-Chile para que éste además proceda
                    a la rebaja de cupos y/o cierre de los productos detallados en cuadro B anterior, los cuales entrarán en vigencia a partir de la fecha de otorgamiento del crédito antes referido.</p>
                <h2 class="title">INSTRUCCIONES PARA LLENADO DE PAGARÉ</h2>
                <p>Instruyo al Banco Santander Chile para llenar el pagaré, que con esta fecha suscribo conjuntamente con este contrato, con las menciones referidas al plazo y tasa de interés que devengará el capital adeudado, de acuerdo a los antecedentes contenidos
                    en el Cuadro de Condiciones Contratadas que precede. Asimismo instruyo al Banco a llenar la mención en blanco en el mismo pagaré referida al capital y el valor de las cuota para su pago conjuntamente con los intereses, de acuerdo al monto
                    total de las obligaciones financieras adeudadas señaladas en el mismo cuadro precedente y las variaciones que éste pudiere sufrir conforme se señala en forma previa a estas instrucciones, las que declaro aceptar y conocer al igual que
                    el texto del pagaré. Estas instrucciones se imparten al Banco en conformidad al artículo 11 de la ley 18.092. Declaro estar en conocimiento que en caso de mora o simple retardo en el pago de una cualquiera de las cuotas de capital/o intereses
                    en que se divide el crédito que he solicitado al Banco, se elevarán al respectivo interés máximo convencional, vigente a la época de la mora o retardo, desde el momento del retardo y hasta el pago efectivo.</p>
                <p>El Banco podrá hacer exigible el pago total de la suma de capital adeudado o del saldo a que éste se halle reducido y sus intereses devengados, considerando la presente obligación como de plazo vencido, en caso de revocación del presente mandato
                    o de mora o simple retardo igual o superior a 15 días en el pago de una cualquiera de las cuotas en que se divide esta obligación, sea de capital y/o intereses, sean consecutivas o no.</p>
                <p>El pagaré que por este acto instruyo llenar contemplará además cláusula de liberación de la obligación de protesto, y sus las firmas serán autorizadas por un notario con el fin de constituir a favor del Banco un título ejecutivo conforme a
                    las normas contenidas en el artículo 434 N°4 del código de procedimiento civil.</p>
                <p>Declaro haber sido informado de todo el detalle y los documentos que se relacionan con el crédito que estoy contratando.</p>
                <p>El presente mandato podrá ser revocado sola una vez que esté totalmente extinguido el crédito que he solicitado y que motiva el presente mandato, y producirá efectos a contar del décimo quinto día de su notificación al Banco a mi correo electrónico.</p>
                <p>Banco Santander Chile cumplirá con la obligación de rendir cuenta del presente mandato con el envío de una copia del contrato y mandato de suscripción de pagaré al correo electrónico que tengo registrado en el mismo Banco, dentro del plazo
                    de 30 días a contar de esta fecha.</p>
            </div>
        </div>
    </div>
</div>