<div class="container text-center align-items-center">

    <div class="row">

        <div class="col h-100">

            <div class="lineas">
                <i class="icon-pig-o icono"></i>
            </div>

            <h1 class="title">¿Cómo organizar mis platas?</h1>

            <p class="text">
                ¿Tus ingresos no te alcanzan para llegar a fin de mes? <br> ¿No sabes realmente en qué te gastas el dinero? <br> Te damos algunos consejos que te ayudarán a ordenar tus platas y mantener tu salud financiera.
            </p>

            <a class="btn" target="_blank" href="https://sanodelucas.cl/">Infórmate aquí</a>

        </div>

    </div>

</div>